$btn-default:$dark-gray;
$btn-default-color:$white;
$btn-danger:$red;
$btn-success:$green;
$btn-info:$cyan;
$btn-warning:$orange;
$btn-dark:$black;

%btn{
    display: inline-block;
    padding: 5px 15px;
    border: none;
    
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
    
}
.btn-default{
    @extend %btn;
    background-color:rgba($btn-default,0.7);
    color:$btn-default-color;
    &:hover{
        background-color: darken($btn-default,10%);
    }
}

.btn-danger{
    @extend %btn;
    background-color:rgba($btn-danger,0.7);
    color:$btn-default-color;
    &:hover{
        background-color: darken($btn-danger,10%);
    }
}
.btn-success{
    @extend %btn;
    background-color:rgba($btn-success,0.7);
    color:$btn-default-color;
    &:hover{
        background-color: darken($btn-success,10%);
    }
}
.btn-info{
    @extend %btn;
    background-color:rgba($btn-info,0.7);
    color:$btn-default-color;
    &:hover{
        background-color: darken($btn-info,10%);
    }
}
.btn-warning{
    @extend %btn;
    background-color:rgba($btn-warning,0.7);
    color:$btn-default-color;
    &:hover{
        background-color: darken($btn-warning,10%);
    }
}
.btn-dark{
    @extend %btn;
    background-color:rgba($btn-dark,0.9);
    color:$btn-default-color;
    &:hover{
        background-color: lighten($btn-dark,30%);
    }
}
